*{
    box-sizing: border-box;
}

.restart{
    display: flex;
    border: 2px solid black;
    width: 1920px;
    height: 723px;
    align-items: center;
    justify-content: space-between;
    align-content: flex-end;
}

img{
    height: 150px;
}

.second{
    flex-basis: 50%;
    width: 263px;
    height: 31px;
    margin: 80px;
}

h1{
    position: absolute;
    top: 0px;
    margin: 100px 683px 125px 685px;
    width: 553px;
    height: 31px;
    text-align: center;
}

p{
    margin: 27px 42px 22px 40px;
    
}

span{
    width: 95px;
    height: 15px;
    text-align: center;
    margin: 42px 53px 25px 52px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
}

button{
    margin: 25px;
    border: 1px solid #23bac1;
    width: 200px;
    height: 55px;
    background-color: white;
    color: #23bac1;
}

.second{
    width: 263px;
    height: 210px;
    text-align: center;
}

img{
    width: 218px;
    height: 210px;
}